<header>
    <div class="header">
        <!-- <div class="uk-width-1-4">
            <img [src]="logo" alt="" class="trunglv-margin" style="z-index: 0;">
        </div>
        <div class="uk-width-2-4">
            <span class="banner-line banner-line1 uk-margin">Khảo sát ý kiến về</span>
            <span class="banner-line banner-line2 uk-margin-bottom">Hội thảo triển lãm</span>
        </div>
        <div class="uk-width-1-4">
        </div> -->
        <img [src]="banner" alt="">
    </div>
</header>